body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: black;
    color: #F0F2F2;
    height: 50px;
    width: 1200px;
}

#nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.icon {
    width: 40px;
    height: 40px;
}

#nav-icon {
    margin-left: 5px;
}

.shadow {
    border: 1px solid black;
    box-shadow: 0 0 25px 2px #282a2d;
}

header li {
    list-style: none;
}

#header-menu {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 15px;
    gap: 30px;
}

nav li:hover {
    color: rgb(0, 255, 213);
}

main {
    background-color: #F0F2F2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='812' height='812' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23DADAFF' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23DEDFDE'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 700px;
}

#fields {
    height: 100%;
    display: grid;
    grid-template-columns: 130px 250px;
    width: 90%;
    justify-content: space-around;
    gap: 4px;
    background-color: rgba(218, 231, 168, 0.3);
    padding-top: 20px;
    padding-bottom: 20px;
}

.errorAttibute {
    background-color: rgba(241, 146, 191, 0.3);
}

#buttonAction {
    display: block;
    width: 90%;
}

#btnSaveOrUpdate {
    margin: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background: rgba(67, 154, 189, 0.3)
}

td {
    background: rgba(187, 186, 182, 0.3)
}

#fistMessage {
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 40px;
    text-align: center;
}

footer {
    background-color: black;
    color: #F0F2F2;
    height: 80px;
    width: 1200px;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer li {
    list-style: none;
    margin-right: 15px;
}

footer li:hover {
    color: rgb(0, 255, 213);
}

footer p {
    margin-left: 15px;
}

footer .flex-row {
    justify-content: space-between;
    width: 95%;
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    header {
        width: 1024px;
    }

    main {
        width: 1024px;
    }

    footer {
        width: 1024px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        width: 750px
    }

    main {
        width: 750px
    }

    footer {
        width: 750px;
    }
}

@media screen and (max-width: 767px) {
    header {
        width: 100%;
    }

    #header-menu {
        align-items: center;
        font-size: 10px;
    }

    main {
        width: 100%;
    }

    h1 {
        font-size: 60px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #fields {
        display: grid;
        grid-template-columns:95%;
        width: 100%;
        gap: 4px;
        background-color: rgba(218, 231, 168, 0.3);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    footer {
        height: auto;
        width: 100%;
    }

    footer ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    footer div {
        flex-direction: column !important;
        align-items: flex-start !important;
    }
}